{% extends 'base.html.twig' %}
{% block title %}All programs{% endblock %}
{% block body %}
    <h1>Toutes nos séries : </h1>
    
    <div class="container">
        <div class="row">
            
                {% for program in programs %}
                <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{program.poster}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ program.id }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h5>
                    <p class="card-text">{{ program.summary }}</p>
                    <a class="btn btn-outline-secondary" href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
                </div>
                </div>
                </div>
                {% endfor %}
            
        </div>
    </div>
    

    
{% endblock %}